*/.idea/
*.xdchelp
*.pdom

*/.metadata
*/.metadata/
*/.metadata/*
.metadata
.metadata/
.metadata/*

*/.config
*/.config/
*/.config/*
.config
.config/
.config/*

*/dvt
*/dvt/
*/dvt/*
dvt
dvt/
dvt/*


*/.launches
*/.launches/
*/.launches/*
.launches
.launches/
.launches/*

targetConfigs/
targetConfigs/*

*/FlashROM
*/FlashROM/
*/FlashROM/*
FlashROM
FlashROM/
FlashROM/*

*/*.launch
*.launch

*/.settings
*/.settings/
*/.settings/*
.settings
.settings/
.settings/*

*/.plugins
*/.plugins/
*/.plugins/*
.plugins
.plugins/
.plugins/*

*/OTHER_STUFF
*/OTHER_STUFF/
*/OTHER_STUFF/*
OTHER_STUFF
OTHER_STUFF/
OTHER_STUFF/*

*/src
*/src/
*/src/*
src
src/
src/*

*/Debug
*/Debug/
*/Debug/*
Debug
Debug/
Debug/*

*/RemoteSystemsTempFiles
*/RemoteSystemsTempFiles/
*/RemoteSystemsTempFiles/*
RemoteSystemsTempFiles
RemoteSystemsTempFiles/
RemoteSystemsTempFiles/*