/Debug/
/Debug_OAD/
/Release_OAD/
/Testing_OAD/
/FlashOnly_OAD_ExtFlash__opt_level__0/
/FlashOnly_OAD_ExtFlash__opt_level__1/
/FlashOnly_OAD_ExtFlash__opt_level__2
/FlashOnly_OAD_ExtFlash__opt_level__3
/FlashOnly_OAD_ExtFlash__opt_level__4
/FlashOnly_OAD_ExtFlash__opt_for_speed__1/
/FlashOnly_OAD_ExtFlash__opt_for_speed__2/
/FlashOnly_OAD_ExtFlash__opt_for_speed__3/
